<!DOCTYPE html>
<html>
<head>
	<title>Sudoku Solver | Andrew Mourcos</title>
	<style type="text/css">
	  body {
	  	font-family: Palatino;
	    margin: 3% 30% 0 30%;
	    text-align: center;
	  }
	  p{
	  	text-align: left;
	  }
	  img{
	  	object-fit: scale-down;
	  	width: 30vw;
	  	height: 30vw;
	  }
	  footer{
	  	margin-top: 3vh;
	  }
	  #solution{
	  	color: red;
	  	word-wrap: break-word;
	  	white-space: pre;
	  	font-size: 25px;
	  }
	</style>
</head>
<body>
	<h1>Instructions</h1>

	<h4>1) Print off a sudoku puzzle </h4>
	<p> The recognition algorithm seems to work the 
		best with puzzles from <a href="https://1sudoku.com/print/print-sudoku-free/">here</a></p>

	<h4>2) Take a picture of the sudoku puzzle</h4>
	<p>
		It's easiest to take a picture of the puzzle with your phone.
		Make sure the puzzle is the largest object in the image and that
		it is free of shadows. (pro tip: you can use "square photo mode" on your phone)
		<br>
		Example of a good image:
	</p>

</body>
</html>